@charset "UTF-8";
/* CSS Document */
/* ========================== clearfix =========================== */
div{
	*zoom: 1;
	margin: 0;
	padding: 0;

}
div:before,
div:after {
	display:table;
	line-height:0;
	content:"";
}
div:after {
	clear:both;
}
ul{
	*zoom: 1;
	margin: 0;
	padding: 0;

}
ul:before,
ul:after {
	display:table;
	line-height:0;
	content:"";
}
ul:after {
	clear:both;
}
/* ========================== body =========================== */
body{
	width:100%;
	height: 100%;
}
/* ====================================== index.html =========================== */
/* ========================== wrap =========================== */
.wrap{
	width:864px;
	margin: 0 auto;
	position: relative;
}
.content{
	position: relative;
	height: 577px;
}
.topic{
	width: 445px;
	height: 81px;
	position: absolute;
	top:20px;
	left: 59px;
}
.circle{
	width: 85px;
   height: 85px;
   background: white;
   position: absolute;
   border-radius: 200px;
   z-index: 5;
   top: 354px;
   left: -2px;
}
.fb{
	width:51px;
	height:18px;
	display: block;
	position: absolute;
   top:18px;
   left: 50%;
   margin-left: -25.5px;
}
.weibo{
	position: absolute;
   left: 50%;
   margin-left: -25.5px;
   bottom:22px;
   width:51px;
	height:18px;
	display: block;
}
.formBK{
	width:490px;
	height: 100%;
	float: left;
}
.bubble{
	width: 370px;
	height: 296px;
	margin-top: 156px;
	margin-left: 83px;
	position: relative;
	z-index: 5;
}
.form-date{
	width: 370px;
	height: 41px;
	margin-top: 120px;
	margin-left: 23px;
}
.form-date li{
	float: left;
}
.form-date select{
	padding: 5px 12px;
	text-align: center;
	height:41px;
}
.f-year select{
	width: 108px;
}
.f-month select{
	width: 77px;
	margin: 0 17px;
}
.f-day select{
	width: 77px;
}
.luck-btn{
	width: 153px;
	height: 84px;
	display: block;
	margin: 25px 0 0 100px;
}
.ktBK{
	width: 464px;
	height: 624px;
	position: absolute;
	top:40px;
	right: 33px;
	z-index: 2;
}
.footer{
	width:810px;
	height:70px;
	margin: 0 auto;
	clear: both;
	position: relative;
	z-index: 3;
}
.nav{
	float: left;
	margin-left: 43px;
}
.nav li{
	float: left;
	display: block;
}
.nav .n-acti{
	width: 141px;
	display: block;
	height:45px;
}
.nav .n-shop{
	width: 111px;
	display: block;
	height:45px;
	margin-left: 40px;
}
.logo2{
	float: right;
	margin-right: 43px;
	width: 179px;
	height: 60px;
}
/* ====================================== content.html =========================== */
.wrap2{
	width: 1000px;
}
.lucky-ball{
	width: 201px;
	height: 190px;
	position: absolute;
	right:200px;
	top:10px;
	z-index: 99;
}
.content2{
	height:590px;
	position: relative;
}
.wheel-kitty{
	width:249px;
	height:317px;
	margin: 20px auto 0 auto;
	position: relative;
	z-index: 5;
}
.lucky-result{
	width: 420px;
	height: 298px;
	margin: -70px auto 0 auto;
	position: relative;
	z-index: 1;
}
.play-again{
	width: 22px;
	height: 138px;
	display: block;
	position: absolute;
	z-index: 2;
	left: 32px;
	top:94px;
}
.share-btn{
	width: 420px;
	height:22px;
	text-align: center;
	position: absolute;
	z-index: 2;
	bottom:3px;
}
.share-btn a{
	display: inline-block;
	margin: 0 7px;
	width:62px;
	height: 22px;
}
.suggestBK{
	width: 1000px;
	height:590px;
	position:absolute;
	top: 0;
}
.suggest-item{
	width: 203px;
	height: 307px;
	position: absolute;
	right: 35px;
	top: 220px;
}
.suggest-item .star{
	width: 203px;
	height: 307px;
	position: absolute;
}
.suggest-cloth{
	width: 260px;
	height:384px;
	position: absolute;
	left:20px;
	top:147px;
}
.suggest-cloth .star{
	width: 260px;
	height:384px;
	position: absolute;
}
.footer.con{
	height: 39px;
	width: 1000px;
}
.con .nav{
	margin-left:0;
}
.con .nav .n-acti {
	width: 111px;
	height: 36px;
}
.con .nav .n-shop {
	width: 88px;
	height: 36px;
	margin-left: 60px;
}
.con .logo2{
	margin-right: 0;
	width: 115px;
	height: 39px;
}
.bottom-circle{
	width: 481px;
	height: 274px;
	position: absolute;
	left: 70px;
	bottom: 0;
}
.vtc-font{
	position: absolute;
writing-mode: tb-rl;
background: white;
-webkit-writing-mode: vertical-rl;
top: 85px;
height: 159px;
right: 67px;
line-height: 27px;
}