
@keyframes ballup
	0% {	top: -703px}
	80% {	top:0px}
	100% {	top:-20px}

@keyframes itemleft
	0% {	left: -2000px}
	90% {	left:60px}
	100% {	left:40px}

@keyframes clothright
	0% {	right: -2000px}
	90% {	right:80px}
	100% {	right:52px}

.lucky-ball-up	
	animation:ballup ease 1s
.big--swing
	// animation 
.suggest--cloth--right
	animation: clothright ease 4s

.suggest--item--left
	animation: itemleft ease 4s
