@import 'nib'

@keyframes ballup
	60% {	top: -703px}
	75% {	top:0px}
	80% {	top:0px}

@keyframes itemleft
	0% {	left: -2000px}
	90% {	left:60px}
	100% {	left:40px}

@keyframes clothright
	0% {	right: -2000px}
	90% {	right:80px}
	100% {	right:52px}

@keyframes topictop
	0% {	top:-100px}
	70% {	top:40px}
	100% {	top:20px}

@keyframes ktlogo
	0% {	opacity:0}
	50% {	opacity: 0}
	100% { opacity: 1}

@keyframes bubblepop
	0% { opacity: 0;margin-top:200px;margin-left:200px}
	60% { opacity: 0;margin-top:200px;margin-left:200px}
	70% { opacity: 1;margin-top:156px;margin-left:83px}
	100% { opacity: 1;margin-top:156px;margin-left:83px}

@keyframes bk 
	0% {	transform: scale(0)}
	100% { transform: scale(1)}

@keyframes sc
	0% {	opacity:0}
	50% {	opacity: 0}
	100% { opacity: 1}

@keyframes top3
	0% {	top:-100px}
	100% { top:0px}

@keyframes rotationthis
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}

@keyframes bktrans 
	0% {	
		opacity:0
	}
	60% {	
		opacity:0
	}
	70% {
		opacity:1
	}
@keyframes mc1 
	from {
		transform:translate3d(63%, 0px,0)
	}
	to {
		transform:translate3d(63%, 1000px,0)
	}
@keyframes mc2
	from {
		transform:translate3d(16%, 0px,0)
	}
	to {
		transform:translate3d(16%, 1000px,0)
	}

@keyframes mc3
	from {
		transform:translate3d(20%, 0px,0)
	}
	to {
		transform:translate3d(20%, 1000px,0)
	}

@keyframes mc4
	from {
		transform:translate3d(70%, 0px,0)
	}
	to {
		transform:translate3d(70%, 1000px,0)
	}

@keyframes mc5
	from {
		transform:translate3d(60%, 0px,0)
	}
	to {
		transform:translate3d(60%, 1000px,0)
	}

@keyframes mc6
	0% {
		// translate(50%, 50%) rotate(90deg)
		transform:rotateY(0deg) translate3d(65%, 0px,0)
	}

	50%{
		transform:rotateY(180deg) translate3d(30%, 300px,0)
	}
	100% {
		transform:rotateY(360deg) translate3d(65%, 1000px,0)
	}

@keyframes mc7
	from {
		transform:translate3d(50%, 0px,0)
	}
	to {
		transform:translate3d(50%, 1000px,0)
	}

@keyframes mc8
	0%{
		transform:translate3d(40%, 0px,0)
	}
	40%{
		transform:translate3d(40%, 100px,0)
	}
	100%{
		transform:translate3d(40%, 1000px,0)
	}

@keyframes mc9
	from {
		transform:rotateY(0deg) translate3d(55%, 0px,0)
	}
	to {
		transform:rotateY(1000deg) translate3d(55%, 1000px,0)
	}

@keyframes mc10
	0%{
		transform:translate3d(55%, 0px,0)
	}
	60%{
		transform:translate3d(55%, 300px,0)
	}
	100% {
		transform:translate3d(55%, 1000px,0)
	}
@keyframes mc11
	from {
		transform:translate3d(55%, 0px,0)
	}
	to {
		transform:translate3d(55%, 1000px,0)
	}

@keyframes mc12
	from {
		transform:rotateY(0deg) translate3d(20%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(20%, 1000px,0)
	}
@keyframes mc13
	from {
		transform:rotateY(0deg) translate3d(20%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(20%, 1000px,0)
	}
@keyframes mc14
	from {
		transform:rotateY(0deg) translate3d(40%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(40%, 1000px,0)
	}
@keyframes mc15
	from {
		transform:rotateY(0deg) translate3d(50%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(50%, 1000px,0)
	}
@keyframes mc16
	from {
		transform:rotateY(0deg) translate3d(60%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(60%, 1000px,0)
	}
@keyframes mc17

	from {
		transform:rotateY(0deg) translate3d(70%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(70%, 1000px,0)
	}

@keyframes ma1
	from {
		transform:rotateY(0deg) translate3d(25%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(25%, 1000px,0)
	}

@keyframes ma2
	0% {
		transform:rotateY(0deg) translate3d(30%, 0px,0)
	}
	70% {
		transform:rotateY(960deg) translate3d(30%, 250px,0)
	}
	100% {
		transform:translate3d(30%, 1000px,0)
	}

@keyframes ma3
	from {
		transform:translate3d(40%, 0px,0)
	}
	to {
		transform:translate3d(40%, 1000px,0)
	}

@keyframes ma4
	from {
		transform:rotateY(0deg) translate3d(60%, 0px,0)
	}
	to {
		transform:rotateY(960deg) translate3d(60%, 1000px,0)
	}

@keyframes ma5
	from {
		transform:rotateY(0deg) translate3d(70%, 0px,0)
	}
	to {
		transform:rotateY(1200deg) translate3d(70%, 1000px,0)
	}

@keyframes ma6
	0% {transform:translate3d(50%, 0px,0)}
	55% {transform:translate3d(50%, 400px,0)}
	100% {transform:translate3d(50%, 1000px,0)}

@keyframes ma7
	0% {transform:translate3d(45%, 0px,0)}
	50% {transform:translate3d(55%, 200px,0)}
	100% {transform:translate3d(45%, 1000px,0)}
@keyframes ma8
	0% {transform:translate3d(55%, 0px,0)}
	70% {transform:translate3d(55%, 400px,0)}
	100% {transform:translate3d(55%, 1000px,0)}

@keyframes b1 
	0% {transform:scale(0.8) translateZ(0) }
	20% {transform:scale(1) translateZ(0)}

@keyframes b2
	20% {transform:scale(0.8) translateZ(0)}
	40% {transform:scale(1) translateZ(0)}

@keyframes b3 
	40% {transform:scale(0.8) translateZ(0)}
	60% {transform:scale(1) translate3dZ(0)}

@keyframes b4 
	60% {transform:scale(0.8) translateZ(0)}
	80% {transform:scale(1) translateZ}

@keyframes b5 
	80% {transform:scale(0.8) translateZ(0)}
	100% {transform:scale(1) translateZ(0)}

@keyframes close
	from {
		// transform:rotateY(0deg)
		opacity:1
	}
	to {
		// transform:rotateY(1200deg) 
		opacity:0
	}
@keyframes bclose
	from {
		transform:rotateY(0deg)
		// opacity:1
	}
	to {
		transform:rotateY(1200deg) 
		// opacity:0
	}
@keyframes scrolldown
	from{
		bottom:20px
	}
	to{
		bottom:40px
	}
@keyframes scrollshow
	0%{
		opacity:0
		transform:scale(1.5)
	}
	70%{
		opacity:0
		transform:scale(1.5)
	}
	80%{
		opacity:1
		transform:scale(1.5)
	}
	100%{
		transform:scale(1)
	}

@keyframes hoveritem
	from{
		background-position:0% 0%
	}
	to{
		background-position:100% 0%
	}

@keyframes hovercloth
	from{
		background-position:0% 0%
	}
	to{
		background-position:100% 0%
	}

.lucky-ball-up	
	animation:ballup ease 5s
	top:0

.big--swing
	// animation 

.suggest--cloth--right
	animation: topittop ease 4s

.suggest--item--left
	animation: itemleft ease 4s

.topic--top 
	animation: topictop ease 1s

.ktBK--opacity
	animation: ktlogo ease 2s

.bubble--pop 
	animation: bubblepop ease 3s

section
	animation: sc ease 2s
	max-height:720px
	
.allbk
	width:100%
	height:100%
	background: url('../img/BG-4.jpg') repeat center -25px
	animation: bk ease 1s

.bg_3--top
	animation: top3 ease 4s

.ror 
	animation: rotationthis 24s linear infinite
	transform:translate3d(0,0,-30)
  
.bktransition
	// background: url('../img/BG2.jpg') repeat center -25px 
	animation: bktrans 5s linear

.m1
	position:absolute
	width:90px
	height:141px
	left:63%
	top:-250px
	background:url('../img/m1.png') 
	animation:mc1 3s linear
	
.m2
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:16%
	top:-250px
	// bottom:1000px
	animation:mc2 3s ease

.m3
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:20%
	top:-250px
	// bottom:1000px
	animation:mc3 3s linear

.m4
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:70%
	top:-250px
	// bottom:1000px
	animation:mc4 3s ease-in-out

.m5
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:60%
	top:-250px
	// bottom:1000px
	animation:mc5 3s ease

.m6
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:65%
	top:-250px
	// bottom:1000px
	animation:mc6 3s ease-in
.m7
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:50%
	top:-250px
	// bottom:1000px
	animation:mc7 3s ease-in

.m8
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:40%
	top:-250px
	// bottom:1000px
	animation:mc8 3s ease

.m9
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:55%
	top:-250px
	// bottom:1000px
	animation:mc9 3s ease-out

.m10
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:35%
	top:-250px
	// bottom:1000px
	animation:mc10 3s ease-in

.m11
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:30%
	top:-250px
	// bottom:1000px
	animation:mc11 3s linear

.m12
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:20%
	top:-250px
	// bottom:1000px
	animation:mc12 3s ease

.m13
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:20%
	top:-250px
	// bottom:1000px
	animation:mc12 3s ease
.m14
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:40%
	top:-250px
	// bottom:1000px
	animation:mc12 3s ease-in
.m15
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:50%
	top:-250px
	// bottom:1000px
	animation:mc12 3s linear

.m16
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:60%
	top:-250px
	// bottom:1000px
	animation:mc12 3s ease-in

.m17
	position:absolute
	width:90px
	height:141px
	background:url('../img/m1.png') 
	left:70%
	top:-250px
	// bottom:1000px
	animation:mc12 3s ease-in

.ma1
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:25%
	top:-250px
	// bottom:1000px
	animation:ma1 3s linear

.ma2
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:30%
	top:-250px
	// bottom:1000px
	animation:ma2 3s ease-in

.ma3
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:40%
	top:-250px
	// bottom:1000px
	animation:ma3 3s ease-out

.ma4
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:60%
	top:-250px
	// bottom:1000px
	animation:ma4 3s linear

.ma5
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:70%
	top:-250px
	// bottom:1000px
	animation:ma5 3s ease-in

.ma6
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:50%
	top:-250px
	// bottom:1000px
	animation:ma6 3s ease-in-out

.ma7
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:45%
	top:-250px
	// bottom:1000px
	animation:ma7 3s ease-in-out

.ma8
	position:absolute
	width:99px
	height:139px
	background:url('../img/m5.png') 
	left:55%
	top:-250px
	// bottom:1000px
	animation:ma8 3s ease-in-out

.b1
	animation: b1 .5s infinite alternate
	width:150px
	height:150px
	background:url('../img/b1.png')

.b2
	animation: b2 .5s infinite alternate
	width:150px
	height:150px
	background:url('../img/b2.png')

.b3
	animation: b3 .5s infinite alternate
	width:150px
	height:150px
	background:url('../img/b3.png')

.b4
	animation: b4 .5s infinite alternate
	width:150px
	height:150px
	background:url('../img/b4.png')

.b5
	animation: b5 .5s infinite alternate
	width:150px
	height:150px
	background:url('../img/b5.png')

.loading
	display:inline-block

.frloading
	z-index:10
	width:776px
	height:154px
	left:50%
	top:50%
	margin-left:-383px
	margin-top:-77px
	// transform:translate3d(-383px,-77px,0)
	position:absolute

.loadingclose
	animation: close 2s ease-in
	// display:none
	opacity:0

.b1c
	animation: bclose 2s ease-in
.b2c
	animation: bclose 2s ease-in
.b3c
	animation: bclose 2s ease-in
.b4c
	animation: bclose 2s ease-in
.b5c
	animation: bclose 2s ease-in
.closeit 
	display:none

.lucky-result-div
	transform:translate3d(0,0,0)

.scrolldiv
	width:43px
	height:223px
	right:20px
	bottom:40px
	position:fixed
	// position:absolute
	transform:translateZ(0)
	background:url('../img/remind2.png') 

.scrolldiv.show.down
	animation: scrolldown 1s infinite alternate

.scrolldiv.show
	animation: scrollshow 5s linear

.wheel-kitty
	width:340px
	height:433px
	position: absolute
	left:50%
	margin-left: -170px
	top:193px
	z-index: 5
	transform: translate3d(0,0,0)

.suggest-cloth-mask
	width:378px
	height:537px
	position:absolute
	z-index:10
.suggest-cloth-mask:hover
	background-image: url('../img/star-cloth.gif')
	// background-size:100%
	// animation: hovercloth .3s steps(3) infinite alternate
	// transition: background-image 0.3s

.suggest-item-mask
	width:266px
	height:408px
	position:absolute
	z-index:10
.suggest-item-mask:hover
	background-image: url('../img/star-item.gif')
	// background-size:100%
	// animation: hoveritem .3s steps(2) infinite alternate
	// transition: background-image 0.3s
